body {
}

.Sort{
    position: relative;
    overflow: hidden;
}

.Sort_Top_Box{
    background-image: url(/images/Sort_Top.png);
    color: #FFF;
    height: 33px;
    margin-bottom: 20px;
}

.Sort_Top_Text{
    color: #FFF;
    position: relative;
    float: left;
    top: 4px;
    margin-left: 70px;
    font-size: 17px;
}

.Sort_Top_Left_Text{
    color: #FFF;
    position: relative;
    float: left;  
    height: 33px;
    width: 250px;
    font-size: 17px;
    overflow: hidden;
    line-height: 33px;
}

.Sort_Left{
    position: absolute;
    float: left;
    width: 250px;
    background-color: #2B2B2B;
    /*background-image: url(/images/Sort_Right.png);*/
    top: 33px;
    z-index: 3;
    display: none;
}

ol>li{
    color: #FFF;
    height: 38px;
    overflow: hidden;  
    line-height: 38px;
}

li>a{
    color: #FFF;
}

ol>li:hover{
    background-color: #000;
    position: relative;
    left: 10px;
    border-radius: 10px
}
