body {
}

.OS_2{
    background-color: #ff6a00;
}

.OS_3{
    background-color: #ff0000;
}

.OS_4{
    background-color: #033c73;
}

.OS_5{
    background-color: #a700ea;
}

.OS_6{
    background-color: #808080;
}

.OS_7{
    background-color: #73a839;
}

.OS_8{
    background-color: #808080;
}